table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0,0,0,0.4);
  border-radius: .5rem;
  overflow: hidden;
}

thead th {
  padding: .5rem 0;
}

tbody td {
  border-bottom: .01rem solid rgba(255,255,255, .3);
  padding: .3rem 0;
}

tbody tr:nth-child(odd) {
  background: rgba(255,255,255, .1);
}
